.graph{
  position: relative;
  max-width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}

.bar-lines-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.marker-container{
  position: absolute;
  left: -15px;
  height: 100%;
}

.marker{
  position: absolute;
  /* transform: translateX(-6px); */
  font-weight: 300;
  font-size: 14.5px;
}

.bar-div-container{
  display: flex;
  height: inherit;
  flex-direction: row;
}