.bar{
    position: relative;
    width : 16.66667%;
    z-index: 9999999999999999999999;
    height: inherit;
    margin-top: auto;
}



.placeholder{
    display: none;
}

.bar:hover .placeholder{
    display: block;
}